body {
    background-color: black;
    font-size: 16px;
}

main {
    width: 60%;
    margin: 0 auto;
}

p {
    font-size: 1.4em;
    color: whitesmoke
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
a{
    align-content: center;
}